/Project1/x64
/Project1/Project1/Log.txt
/Project1/Project1/x64
/shootemup/.vs
/01_3DViewer/01_3DViewer/00_BaseProject/Study_AClass_3DRotaion/Log.txt
/01_3DViewer/01_3DViewer/00_BaseProject/Study_AClass_3DRotaion/x64
/01_3DViewer/01_3DViewer/00_BaseProject/Study_AClass_3DRotaion/.vs
